body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #212121;
  color: #dadada;
}

a {
  color: #3685c5;
}

#back-to-main-page {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
