.big-view {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-template-rows: 56vh; /* Rows adjust to content height */
  width: 100%;
  gap: 1rem;

  .image-container {
    grid-column: 1; /* First column */
    grid-row: 1; /* Second row */
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #525252;
    text-align: center;
  }

  .image-container img {
    /* max-width: 30vw; */
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    height: auto;
    width: 100%;
    text-align: center;
  }

  #main-image-container {
    overflow: hidden;
    cursor: crosshair; /* Changes cursor to crosshair on hover */
  }

  #main-image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* cursor: zoom-in; */
    transition: transform 0.3s ease;
    transform-origin: center center; /* Default transform origin */
  }

  #main-image-container:hover #main-image {
    transform: scale(2); /* Adjust scale for desired zoom level */
  }

  .extra-item:hover {
    cursor: pointer;
  }

  .extra-images-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    grid-column: 1; /* First column */
    grid-row: 2; /* Second row */
    text-align: center;
    gap: 0.25rem;
  }

  .single-extra-image-container {
    max-width: 10vw;
    max-height: 10vw;
    width: 100%;
    height: 100%;
    border: 3px solid #525252;
    text-align: center;
  }

  .single-extra-image-container img {
    max-width: 10vw;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    height: auto;
    width: 100%;
    text-align: center;
  }

  .text-container {
    grid-column: 2; /* Second column */
    grid-row: 1 / span 2; /* Spans two rows */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0.5rem;
    align-items: flex-start;
    border: 3px solid #525252;
  }

  .admin-antique-forms {
    grid-column: 1 / span 2; /* Second column */
    grid-row: 3; /* Spans two rows */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* Button styles */
    form {
      width: 100%;
      margin: 1rem;
    }
    input[type='submit'] {
      width: 100%; /* Full width button */
      padding: 10px; /* Padding inside the button */
      margin-top: 1rem;
      border: none; /* Remove default border */
      border-radius: 4px; /* Slightly rounded corners */
      background-color: #5f5f5f; /* Primary button color */
      color: #dadada; /* White text color */
      font-size: 16px; /* Larger font size for the button */
      cursor: pointer; /* Pointer cursor on hover */
    }

    input[name='delete'] {
      background-color: #753131; /* Primary button color */
      color: #dadada; /* White text color */
    }
    input[name='update'] {
      background-color: #313a75; /* Primary button color */
      color: #dadada; /* White text color */
    }
  }
}
