.small-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  width: 100%;

  .square-container {
    max-width: 25vw;
    margin: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #111111;
    border: 3px solid #525252;
    position: relative;
    overflow: hidden;
  }

  .image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    height: auto;
    width: 100%;
    transition: opacity 0.5s ease; /* Smooth transition for dimming effect */
  }

  .text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    color: white; /* Adjust as needed for better contrast */
    /* background: rgba(
      0,
      0,
      0,
      0.5
    );  */
    /* Optional: adds background behind text for better readability */
    padding: 10px; /* Optional: adjust padding as needed */
    display: none; /* Initially hidden */
  }

  .image-container:hover img {
    opacity: 0.25; /* Dims the image to 25% opacity on hover */
  }

  .image-container:hover .text-overlay {
    display: flex; /* Show on hover */
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
