body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* #D0B4F0  */

#notification {
  position: fixed;
  top: -100px; /* Initially hidden above the screen */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
  z-index: 1000;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#notification.show {
  top: 25%;
  opacity: 1;
}

.card-header {
  display: flex;
  align-items: center;
  background-color: #cdb2ef;
  font-size: 0.83rem;
  padding: 5px 10px 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.notification-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #8e71b3;
}

.card-content {
  padding: 5px 10px 5px 10px;
  background-color: #c09fea;
  font-size: 1em;
  color: #230d37;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

p {
  margin-top: 7.5px;
}
